<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}Ergae{% endblock %}</title>
      <link rel="stylesheet" type="text/css"
            href="//cdn.jsdelivr.net/g/pure@0.5.0({{ [
              'base-min.css',
              'buttons-min.css',
              'grids-min.css',
              'grids-responsive-min.css',
              'forms-min.css',
              'menus-min.css',
              'tables-min.css'
            ]|join('+') }})">
      <link
        rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,300">
      <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='main.css') }}">
    {% endblock %}
  </head>
  <body class="{% block body_class -%}
                 mod-{{ request.blueprint }}
               {%- endblock %}">
    {%- block body -%}
      <div class="content pure-g">
        {%- block content -%}
        {%- endblock -%}
      </div>
    {%- endblock -%}
  </body>
</html>
