{% extends 'reader/subscriptions.html' %}
{% block title -%}
  {{ feed }} &mdash; {{ super.super() }}
{%- endblock %}
{% block entry_list %}
  {% for entry in feed.entries %}
    <div class="entry {% if entry.read %} read {% else %} unread {% endif %}">
      <h3 class="author">
        {%- for author in entry.authors -%}
          {%- if not loop.first -%}
            ,
            {% if loop.last %} and {% endif %}
          {% endif %}
          {{ author.name }}
        {%- endfor -%}
      </h3>
      <h2><a href="?{{ entry.id }}">{{ entry }}</a></h2>
      {% with excerpt = ((entry.summary or entry.content)|string).strip() %}
        {% if excerpt %}
          <p class="excerpt">{{ excerpt.splitlines()|first }}</p>
        {% endif %}
      {% endwith %}
    </div>
  {% endfor %}
  <script>
    (function ($) {
      $('.entry > h2 > a').each(function () {
        var link = this;
        $(this.parentNode.parentNode).click(function () {
          link.click();
        }).addClass('clickable');
      });
    })(jQuery);
  </script>
{% endblock %}
