{% extends 'base.html' %}
{% set subscriptions = g.stage.subscriptions.recursive_subscriptions %}
{% block title -%}
  {% if subscriptions.title -%}
    {{ subscriptions.title }} &mdash;
  {%- endif %}
  {{ super() }}
{%- endblock %}
{% block content %}
  <nav class="subscription-list pure-u-1-6">
    <ul>
      {% for sub in subscriptions|sort(attribute='label') %}
        <li data-icon-src="{{ sub.icon_uri or '' }}">
          <a href="{{ url_for('.feed', feed_id=sub.feed_id) }}"
             title="{{ sub.label }}">
            {{- sub.label -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <aside class="entry-list pure-u-1-4">
    {%- block entry_list -%}
    {%- endblock -%}
  </aside>
  <article class="entry pure-u-7-12">
    {%- block entry -%}
      <div class="no-entry">No entry selected</div>
    {%- endblock -%}
  </article>
{% endblock %}
